.DS_Store
*.h5
*.npy
output/h5/
output/processed/


data/full
data/zeroeggs/train/**.bvh
data/zeroeggs/train/**.wav
data/zeroeggs/train/**.csv
data/zeroeggs/valid/**.bvh
data/zeroeggs/valid/**.wav
data/zeroeggs/valid/**.csv

align/**/**.txt
align/**/*.csv
align/**/*.wav
align/**/*.lab


models--facebook--data2vec-audio-base-960h/
data2vec-text-base/
